.cover {
  max-width: 1184px;
  height: 740px;
  background: url(../images/cover_background.jpg) center no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  row-gap: 32px;
  margin: 0 auto;
  padding: 0;
}

.cover__overlay {
  position: absolute; /* position overlay over the image */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2a2c2f; /* semi-transparent dark background */
  opacity: 0.3; /* control the transparency of the overlay */
  z-index: -1; /* keep the overlay behind the text */
}

.cover__title,
.cover__address,
.cover__button {
  text-align: center; /* center text content */
  z-index: 1; /* keep the text above the overlay */
  margin: 0;
}

.cover__title {
  font-size: 72px;
  line-height: 76px;
  font-style: normal;
  font-weight: 900;
  color: #fffdfd;
}

.cover__address {
  max-width: 280px;
  font-size: 18px;
  line-height: 22px;
}

.cover__address-span {
  display: block;
}

.cover__button {
  max-width: 137px;
  background-color: #0278fe;
  color: #fff;
  border-radius: 4px;
  padding: 13px 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.cover__button:hover {
  background-color: #0063d2;
  transition: all 0.3s;
}

.cover__overlay:hover {
  opacity: 0.7;
}

/* viewports between 1279px and 768px wide */
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .cover {
    background-size: cover;
    margin: 300px auto 0;
    z-index: 1; /* ensure background image has the lowest z-index */
  }
}

/* viewports between 767px and 320px wide */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .cover {
    max-width: 320px;
    height: 254px;
    background: url(../images/cover_background.jpg) center no-repeat;
    background-size: cover;
    z-index: 1; /* ensure background image has the lowest z-index */
    margin: 0;
    padding: 0;
  }

  .cover__overlay {
    position: absolute; /* position overlay over the image */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2a2c2f; /* semi-transparent dark background */
    opacity: 0.3; /* control the transparency of the overlay */
    z-index: -1; /* keep the overlay behind the text */
  }

  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }

  .cover__address {
    font-size: 14px;
    line-height: 16px;
  }
}
