.places {
  max-width: 987px;
  margin: 0 auto;
  padding: 0;
}

.places__container {
  max-width: 987px;
  margin-bottom: 80px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 25px 40px;
  grid-template-areas:
    "title details"
    "image paragraphs"
    "button paragraphs";
}

.places__title {
  max-width: 460px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: left;
  margin: 0;
  padding: 0;
  grid-area: title;
}

.places__details {
  align-self: end;
  margin: 0;
  padding: 0;
  grid-area: details;
}

.places__subtitle {
  max-width: 50px;
  margin: 0;
  padding-bottom: 8px;
  text-transform: uppercase;
  color: #aaa;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
}

.places__artist {
  max-width: 456px;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

.places__images {
  height: 460px;
  width: 460px;
  grid-area: image;
}

.place__paragraphs {
  display: flex;
  flex-direction: column;
  grid-area: paragraphs;
}

.places__paragraph {
  max-width: 484px;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding-bottom: 25px;
}

.places__paragraph:nth-child(3) {
  padding-bottom: 0;
}

.places__button {
  max-width: 248px;
  background-color: #0278fe;
  color: #fff;
  border-radius: 4px;
  margin-top: 23px;
  padding: 13px 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  border: none;
  text-decoration: none;
  cursor: pointer;
  grid-area: button;
}

.places__button:nth-child(4) {
  margin-top: 0;
}
