.places {
  max-width: 987px;
  margin: 0 auto 92px;
  padding: 0;
}

.places__container {
  max-width: 987px;
  margin-bottom: 80px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* two auto-sizing columns */
  grid-template-rows: auto 460px auto; /* set the row with the image to 460px */
  gap: 48px 40px;
  grid-template-areas:
    "title details"
    "image paragraphs"
    "button paragraphs";
}

.places__container:last-child {
  margin-bottom: 0;
}

.places__title {
  max-width: 460px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: left;
  margin: 0;
  padding: 0;
  grid-area: title;
}

.places__details {
  align-self: end;
  margin: 0;
  padding: 0;
  grid-area: details;
}

.places__subtitle {
  max-width: 50px;
  margin: 0;
  padding-bottom: 8px;
  text-transform: uppercase;
  color: #aaa;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
}

.places__artist {
  max-width: 456px;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

.places__image {
  width: 100%;
  height: 100%;
  grid-area: image;
  object-fit: cover; /* ensure the image covers the area without distortion */
}

.place__paragraphs {
  display: flex;
  flex-direction: column;
  grid-area: paragraphs;
}

.places__paragraph {
  max-width: 484px;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding-bottom: 25px;
}

.places__paragraph:nth-child(3) {
  padding-bottom: 0;
  margin-bottom: 92px;
}

.places__button {
  max-width: 248px;
  background-color: #0278fe;
  color: #fff;
  border-radius: 4px;
  margin: 0;
  padding: 13px 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  border: none;
  text-decoration: none;
  cursor: pointer;
  grid-area: button;
}

/* viewports between 1279px and 768px wide */
@media only screen and (min-device-width: 768px) and (max-device-width: 1279px) {
  .places {
    max-width: 720px;
  }

  .places__container {
    max-width: 720px;
    margin-bottom: 72px;
    gap: 46px 28px;
    grid-template-rows: auto 340px auto; /* set the row with the image to 340px */
  }

  .places__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
  }

  .places__artist {
    max-width: 316px;
  }

  .places__image {
    height: 340px; /* fixed height for the images */
  }

  .places__paragraph {
    max-width: 352px;
    font-size: 16px;
  }
}

/* viewports between 767px and 320px wide */
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .places {
    max-width: 320px;
  }

  .places__container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin: 0 auto;
  }

  .places__details {
    max-width: 288px;
    margin-left: 16px;
  }

  .places__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin: 50px 0 0 16px;
  }

  .places__subtitle,
  .places__artist,
  .places__paragraph,
  .places__button {
    max-width: 288px;
    margin: 0 auto;
  }

  .places__paragraph {
    font-size: 16px;
  }

  .places__paragraph:last-child {
    padding-bottom: 0;
  }

  .places__paragraph:nth-child(3) {
    margin-bottom: 0;
  }

  .places__button {
    padding: 13px 40px;
  }
}
